@media only screen and (max-width: 568px) {
    footer a {
        line-height: 2;
    }
    main p {
        width: 80%;
        transform: translate(36.5px, 0px);
    }
    main h1 {
        margin: 25px 0 !important;
    }
    header img{
        height: 54px !important;
        margin-bottom: -25.1px !important;
    }
    header {
        height: fit-content !important;
        padding-bottom: 19.5px !important;
    }
    .auth-buttons{
        margin-left: 27% !important;
    }
}