@media only screen and (max-width: 568px) {
    footer a {
        line-height: 2;
    }
    main p {
        width: 80%;
        transform: translate(0px, -130px);
        margin: auto;
    }
    main h1 {
        padding-top: 240px;
    }
    header img{
        height: 54px !important;
        margin-bottom: -25.1px !important;
    }
    .auth-buttons{
        margin-left: 27% !important;
    }
}